<%- include('header'); -%>
<div class="content">
  <h1>Contact Details</h1>
  <table id="catalog">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email Address</th>
    </tr>
    <tr>
      <td>John Doe</td>
      <td>Princes Street</td>
      <td>+440000000000</td>
      <td>j.doe@hw.ac.uk</td>
    </tr>
  </table>
</div>
<br />

<%- include('footer'); -%>
