<%- include('header'); -%>
<div class="content">
  <h1>Login</h1>
  <form action="/api/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" />
    <br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />
    <br />
    <button type="submit">Sign in</button>
  </form>
</div>
<br />
<%- include('footer'); -%>
